<!--
 * @Autor: Wentao Lin
 * @Description: Home page
 * @Date: 2020-12-23 20:34:48
 * @LastEditTime: 2021-01-02 00:58:07
 * @LastEditors: Wentao Lin
-->

<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container content-area">
    <div class="username-wrapper">
        {% if username == '' or username == None %}
        <h1 class="style-red">Haven't Login</h1>
        {% else %}
        <h1>Username: <small>{{username}}</small></h1>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form class="form-signin" action="" method="post" name="signup">
        <h2 class="form-signin-heading">Change Your Password</h2>
        {{ form.csrf_token }}
        <label for="password">Old Password</label>
        {{ form.password(class='form-control') }}
        <div class="style-red">
            {{ form.password.errors.0 }}
        </div>
        <br>
        <label for="new_password">New Password</label>
        {{ form.new_password(class='form-control') }}
        <div class="style-red">
            {{ form.new_password.errors.0 }}
        </div>
        <br>
        <label for="re_password">Confirm Password</label>
        {{ form.re_password(class='form-control') }}
        <div class="style-red">
            {{ form.re_password.errors.0 }}
        </div>
        <br>
        {% if sell == False %}
        <div class="checkbox">
            <label>
                <input name="sell" type="checkbox" value="sell-goods"> Do you want to become seller? Yes
            </label>
        </div>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>
{% endblock %}