<!--
 * @Autor: Wentao Lin
 * @Description: Home page
 * @Date: 2020-12-23 20:34:48
 * @LastEditTime: 2021-01-02 00:55:21
 * @LastEditors: Wentao Lin
-->

<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container content-area">
    <div class="username-wrapper">
        {% if username == '' or username == None %}
        <h1 class="style-red">Haven't Login</h1>
        {% else %}
        <h1>Username: <small>{{username}}</small></h1>
        {% endif %}
    </div>
    <div>
        <h2>Shopping Cart:</h2>
    </div>
    <div class="row">
        {% for good in goods %}
        <form action="" method="post" name="cart">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 good-list">
                <div class="thumbnail">
                    <img class="table-bordered" src="{{good.image}}" alt="{{good.title}}">
                    <div class="caption">
                        <h3 class="style-red" class="price">
                            <span>$</span>
                            <span class="price_child">{{good.price}}</span>
                        </h3>
                        <p>{{good.title}}</p>
                        <p class="text-right cart-button">
                            <input type="hidden" name="id" value="{{good.goodsId}}">
                            <input class="btn btn-danger" type="submit" value="Delete">
                            <button id="minus{{loop.index}}" class="btn btn-default minus_button" type="button">-</button>
                            <span class="good{{loop.index}}">1</span>
                            <button id="plus{{loop.index}}" class="btn btn-primary plus_button" type="button">+</button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
    <div>
        <h2>Shipping Address:</h2>
        <div class="row">
            {% for address in addresses %}
                <div class="col-sm-12 col-md-12 col-lg-6 space">
                    <div class="address click">
                        <h2>Address {{ loop.index }}: <small>{{address.place}}</small></h2>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2 class="class-show">
            <span>Total Payment: $</span>
            <span></span>
        </h2>
    </div>
    <div class="text-right">
        <form action="" method="post" name="payment">
            <input class="btn btn-primary payment btn-lg" type="submit" value="Pay" name="pay"></input>
        </form>
    </div>
</div>

{% endblock %}